html {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  height: 60px;
  width: 60px;
}

.pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.udsec {
  display: flex;
  flex-direction: column;
}

.lrsec {
  display: flex;
  align-items: center;
  height: 100%;
}

.lights {
  display: flex;
  align-items: center;
}

.lights button {
  height: 25px;
  width: auto;
  min-width: 80px;
  margin: 0 5px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin: 10px 0 0 0;
  width: 100%;
}

h1, h2, p, i, span, button, a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}